
/* Fonts, Variables, Defaults */

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --h2: 2.4rem;
    --h3: 2rem;
    --h4: 1.5rem;
    --body-text: 1.125rem; 
}

:root {
    --dark-brown: rgb(74, 42, 42);
    --light-type: rgb(245, 245, 245);
    --light-pink: rgb(255, 194, 204);
    --dark-pink: rgb(240, 117, 146);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY ----------------------------------------------- */

body {
    font-family: 'AR One Sans';
    background-image: url(../images/pink-background.jpg);
    background-size: cover; 
    background-position: center; 
}

.wrapper {
    max-width: 80rem; 
    margin:  auto;
    background-color: var(--light-pink);
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

h3 {
    font-family: satisfy;
    font-size: var(--h3);
}

/* HEADER ---------------------------------------------- */

header {
    background-color: white; 
}

.hero-logo {
    max-width: 15rem; 
    margin: auto;
    padding: 1rem;  

}

/* NAVIGATION ------------------------------------------ */

nav {
    background-color: var(--dark-brown);
    display: flex; 
    justify-content: center;
    padding: 0.625rem;  
}

nav a {
    text-decoration: none;
    padding: 2rem;  
    color: var(--light-type);
    font-size: var(--body-text);
    text-transform: uppercase;  
}

nav a:hover {
    color: var(--light-pink);
}

#menu li:first-child {
    display: none; 
}

#menu {
    list-style-type: none;
    display: flex;
    gap: 1.25rem;
}

#menu-toggle {
    display: none;
    color: white;
    font-size: 2rem;  
}

#menu.active {
    display: flex; 
}


/* HERO SECTION ----------------------------------------- */

.hero {
    background-image: url(../images/cupcake-hero.jpg);
    min-height: clamp(20rem, 60vw, 30rem); 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    flex-direction: column;   
}

.hero-text {
    background-color: rgba(245, 245, 245, 0.502);
    max-width: 55%;
    border-radius: .5rem;
    margin-top: 3rem;
    text-align: right; 
}

.hero-text h2, .hero-text p {
    margin: 1.5rem; 
    text-align: right;
}

.hero-text h2 {
    font-size: var(--h2);
    font-family: Satisfy; 
}

.hero-text p {
    font-size: var(--body-text);
}

.hero-text button {
    padding: 0.625rem; 
    margin-top: 0.625rem;
    border-radius: 2rem;
    background-color: var(--dark-pink); 
    color: rgb(245, 245, 245); 
    margin-right: 1.25rem; 
    margin-bottom: 1.25rem;
    font-size: 1rem; 
    text-transform: uppercase;  
}

.hero-text button:hover {
    background-color: var(--light-pink);
    color: var(--dark-pink);
}


/* SPECIALTY CUPCAKES ----------------------------------------------- */

.specialty-cupcakes h3 {
    text-align: center;
    padding: 0.625rem;
}

.specialty-cupcakes h4 {
    font-size: var(--h4);
}

.specialty-cupcakes-images {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 1rem; 
}

.specialty-cupcakes-images img {
    width: 100%; 
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;  
}

.specialty-cupcakes-images div {
    text-align: center; 
    background-color: whitesmoke; 
    margin: 0.625rem;
    border-radius: 1rem; 
    padding-bottom: 1rem;  
}

.specialty-cupcakes-images div button {
    padding: 0.625rem; 
    margin-top: 0.625rem;
    border-radius: 2rem;
    background-color: var(--dark-brown); 
    color: rgb(245, 245, 245); 
    font-size: 1rem;
    text-transform: uppercase; 
}

.specialty-cupcakes-images div button:hover {
    color: var(--dark-pink);
}

/* GALLERY SECTION ---------------------------------------------- */

.gallery {
    margin-top: 1rem; 
}

.gallery h3, p {
    text-align: center;
}

.gallery-contents {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    column-gap: 1rem; 
    row-gap: 1rem; 
    justify-content: center;
    max-width: 70rem;
    margin: auto;   
    margin-top: 1rem; 
    background-color: whitesmoke;
    padding: 1rem; 
    border-radius: 0.625rem;
}

.gallery-contents img {
    max-width: 20rem;
    width: 100%; 
    border-radius: 0.3rem;   
}


/* FOOTER ---------------------------------------------------------------------------------- */

footer {
    background-color: var(--dark-brown);
    justify-content: center;
    list-style: none; 
    display: flex; 
    padding: 1.25rem;
    font-size: 0.75rem;  
}

/* Navigation */

.footer-nav {
    border-right: 0.125rem solid var(--light-pink);
    padding-right: 1.25rem;
}

.footer-nav ol li {
    list-style: none; 
    text-align: right; 
}

.footer-nav ol li a {
    color:var(--light-type);
    text-decoration: none;
    text-transform: uppercase; 
}

.footer-nav ol li a:hover {
    color:var(--light-pink);
}

/* Address */

footer p {
    color: var(--light-type);
    max-width: 11rem; 
}

.footer-address {
    text-align: center; 
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-right: 0.125rem solid var(--light-pink); 
}

/* Social Media Icons */

.footer-socials {
   padding-left: 1.25rem;
}

.footer-socials img {
    max-width: 1.5rem;
    margin-right: 0.625rem;  
}



/* --------------------- MEDIA QUERIES --------------------------*/


/* Smaller Screens - 1200px */
@media screen and (max-width: 75em) {

    :root {
        --h4: 1.35rem;
    }

    /* BODY */

    .wrapper {
        width: 100%; 
    }

}

/* Laptop Screens - 1024px */

@media screen and (max-width: 64em) {

    :root {
        --h4: 1.2rem; 
    }
}

/* Tablet - 768px */
@media screen and (max-width: 48em) {

    :root {
        --h2: 2.2rem;
        --h3: 1.75rem;
        --h4: 1.125rem;
        --body-text: 1rem; 
    }


    /* NAVIGATION */

    nav a {
        padding: 0.625rem; 
    }

    /* HERO */

    .hero-text {
        background-color: rgba(245, 245, 245, 0.74);
        max-width: 100%;
        border-radius: 0; 
        text-align: center;  
    }

    .hero-text h2, .hero-text p {
        text-align: center; 
        margin-top: 1rem; 
    }

    .hero-text button {
        margin: 0; 
        margin-bottom: 1rem;
    }

    /* SPECIALTY CUPCAKES */
    .specialty-cupcakes-images {
        grid-template-columns: 1fr 1fr;
    }

    /* GALLERY */

    .gallery h3 {
        padding-top: 2rem; 
    }
    .gallery-contents {
        flex-direction: column;
        max-width: 100%;  
    }
   
}

/* Mobile - 480px */
@media screen and (max-width: 30em) {

    :root {
        --h2: 2rem;
        --h3: 1.5rem;
        --h4: 1.0625rem;
    }

    /* HERO */

    .hero-text {
        margin-top: 2rem; 
    }

    /* NAVIGATION */

    nav { 
        justify-content: right; 
    }

    #menu-toggle {
        display: block;
        background-color: var(--dark-brown);
        border: none;  
    }

    #menu li:first-child {
        display: flex;
        justify-content: right; 
    }
    #menu {
        display: none;
        flex-direction: column; 
        position: absolute;
        background-color: var(--dark-brown);
        padding: 1rem; 
        border-radius: 0.625rem;  
    }

    /* SPECIALTY CUPCAKES */
    .specialty-cupcakes-images {
        grid-template-columns: 1fr; 
    }

    /* GALLERY */
    .gallery-contents {
        flex-direction: column; 
    }

    .gallery-contents {
        grid-template-columns: 1fr 1fr; 

    }

    /* FOOTER */
    footer {
        flex-direction: column; 
        align-items: center;
    }

    .footer-nav {
        display: none;  
    }

    .footer-address {
        border-right: none; 
    }
    .footer-socials {
        text-align: center; 
        padding:0;
        margin:0;
    }

    .footer-socials img {
        margin: 0;
        padding: 0;
    }
}
